{{ partial post-header }}

<article>
    <section id="handout">
        <div class="hexagon"></div>
        <h1 id="{{ data post.name }}">{{ data post.title }}</h1>
            
        {{ content }}

    </section>
</article>

{{ partial footer }}